html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  display: block;
  background-color: #000;
  color: #FFF;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  max-height: 100vh;
  overflow: hidden;
}

main {
  display: block;
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 0.5em;
}

nav span {
  flex: 1;
  width: 100%;
  padding: 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.btnControl {
  font-size: 1em;
  border: none;
  border-radius: 6px;
  background-color: rgb(64, 53, 90);
  padding: 0.5em 0.8em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 0 0.2em;
  fill: #FFF;
}

.flipX {
  transform: scaleX(-1);
  direction: rtl;
  text-align: left;
}

#teleprompter {
  display: block;
  font-weight: bold;
  width: 100%;
  height: 100%;
  font-size: 4em;
  line-height: 1.5em;
  padding: 1em;
  border: none;
  color: white;
  background-color: #000;
  overflow-y: scroll;
  resize: none;
}

#teleprompter[contenteditable] {
  outline: 0px solid transparent;
}

#progressStatus {
  text-align: right;
  height: 3px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292929;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f00;
}

progress {
  border: none;
  width: 100%;
  height: 10px;
  background: #f00;
}

progress::-webkit-progress-value {
  background: red;
}

progress::-webkit-progress-bar {
  background: #292929;
}